.page {
  background: #f2f2f2;

  .top {
    background-position: center;
    background-image: url(../../image/top_background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: calc(100%-60rpx);
    height: 240rpx;
    background-color: #fff;
    padding: 20rpx 35rpx;

    .top-up {
      width: 100%;
      height: 150rpx;
      display: flex;
      justify-content: flex-start;
      margin-top: 60rpx;

      .top-left {
        margin-top: 40rpx;
        margin-left: 20rpx;
        color: #fff;
      }

      .top-right {
        width: 120rpx;
        height: 120rpx;
        border-radius: 100rpx;
        overflow: hidden;
        display: flex;
        flex-direction: row;

        image {
          width: 100%;
          height: 100%;
        }
      }

      .top-down {
        text-align: center;
        margin-top: 20rpx;
        padding: 0 120rpx;
        display: flex;
        justify-content: space-between;

        .equipmentNum,
        .totalNum,
        .rzseType {
          font-size: 25rpx;
          color: #737373;
        }
      }
    }
  }

  /*收货地址*/
  .toAddress {
    height: 40rpx;
    color: #737373;
    padding: 10rpx 20rpx;
    background-color: #fff;
    font-size: 25rpx;
    display: flex;
    justify-content: space-between;
    margin-top: 20rpx;
    line-height: 40rpx;

    .toAddressIcon {
      margin: auto 0;
    }
  }

  .info-list {
    text-align: center;
    padding: 40rpx 30rpx;
    margin-top: 20rpx;
    background-color: #fff;
    width: calc(100%-200rpx);
    font-size: 25rpx;
    display: flex;
    flex-wrap: wrap;

    .info-item {
      margin-bottom: 48rpx;
      min-width: 33%;
      font-size: 0;

      image {
        width: 48rpx;
        height: 56rpx;
        object-fit: cover;
        margin-bottom: 30rpx;
      }

      .title {
        font-size: 24rpx;
        font-weight: 400;
        color: #666;
      }
    }

    .info-item:nth-last-child(3),
    .info-item:nth-last-child(2),
    .info-item:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  .middle-list {
    background-color: #fff;

    margin-top: 22rpx;

    .list-header {
      display: flex;
      justify-content: space-between;
      height: 56rpx;
      padding: 0 15rpx;
      box-sizing: border-box;
      align-items: center;
      text {
        font-size: 32rpx;
        font-weight: 500;
      }

      view {
        justify-content: flex-end;
        flex: 1;
        display: flex;
        align-items: center;
        font-size: 28rpx;
      }
    }

    .list-container {
      display: flex;
      flex-wrap: wrap;

      .middle-item {
        width: 20%;
        font-size: 0;
        height: 190rpx;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        // &::after {
        //   position: absolute;
        //   top: 0;
        //   right: 0;
        //   content: ' ';
        //   width: 2rpx;
        //   height: 100%;
        //   background-color: #e6e6e6;
        // }

        // &::before {
        //   position: absolute;
        //   left: 0;
        //   top: 0;
        //   width: 100%;
        //   height: 2rpx;
        //   content: ' ';
        //   background-color: #e6e6e6;
        // }

        image {
          width: 52rpx;
          height: 42rpx;
          object-fit: cover;
        }

        .title {
          margin-top: 32rpx;
          font-size: 24rpx;
          font-family: Noto Sans S Chinese;
          font-weight: 400;
          color: #555555;
        }
      }

      // .middle-item:nth-child(1),
      // .middle-item:nth-child(2),
      // .middle-item:nth-child(3),
      // .middle-item:nth-child(4) {
      //   &::before {
      //     display: none;
      //   }
      // }
    }
  }

  /*物流信息*/
  .me-step {
    margin-top: 20rpx;
    width: calc(100% - 40rpx);
    padding: 10rpx 20rpx;
    background-color: #fff;
    font-size: 27rpx;

    .step-top {
      display: flex;
      justify-content: space-between;

      .step-top-time {
        color: #737373;
      }
    }

    .step-content {
      display: flex;
      margin-top: 20rpx;

      image {
        width: 80rpx;
        height: 80rpx;
      }

      .step-content-right {
        height: 80rpx;
        margin-left: 10rpx;

        .step-content-top {
          color: rgb(16, 142, 233);
          height: 35rpx;
          line-height: 35rpx;
        }

        .step-content-bottom {
          color: #737373;
          margin-top: 10rpx;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 35rpx;
          line-height: 35rpx;
          width: 550rpx;
        }
      }
    }
  }

  /* 广告 */
  .me-ad {
    margin-top: 20rpx;
    width: 100%;
    height: 150rpx;

    image {
      width: 100%;
      height: 100%;
    }
  }

  /*客服弹窗*/
  .modalService {
    border-radius: 20rpx;
    width: 400rpx;

    .modal-service-title {
      font-size: 30rpx;
      line-height: 80rpx;
    }

    .modal-service-tel {
      font-size: 28rpx;
      line-height: 60rpx;

      .color-blue {
        color: rgb(16, 142, 233);
      }
    }

    .modal-service-time {
      font-size: 28rpx;
      line-height: 60rpx;
    }

    .close-btn {
      width: 180rpx;
      height: 50rpx;
      font-size: 28rpx;
      border-radius: 25rpx;
      border: 1rpx solid rgb(16, 142, 233);
      line-height: 50rpx;
      text-align: center;
      color: rgb(16, 142, 233);
      margin: 30rpx auto 50rpx auto;
    }
  }
}

form {
  height: 1190rpx;
  width: 100%;
}

.good-grid {
  width: 750rpx;
  height: auto;
  overflow: hidden;
  background: #fff;
  background-color: #EBEBEB;

  .h {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 63px;
    font-size: 0;

    .leftStar,
    .rightStar {
      width: 24rpx;
      height: 28rpx;
      margin-right: 12rpx;
    }

    .text {
      font-size: 28rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color: #343434;
    }
  }

  .b {
    overflow: hidden;
    padding: 0 22rpx;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}